---
import Layout from '../layouts/Layout.astro'
// AI Tools list
---

<Layout title='About CognitoAI - The best AI tools summary'>
    <main class='flex flex-col items-center justify-center m-auto max-w-4xl p-4'>
        <h1 class='text-4xl font-bold mb-8 text-gray-800 dark:text-gray-100'>About CognitoAI</h1>

        <p class='text-lg text-gray-800 dark:text-gray-200'>
            Welcome to CognitoAI, your go-to destination for a summary of the best AI tools
            available. Our platform is designed to provide you with quick and easy access to a
            curated list of powerful AI tools that can enhance your workflow and productivity. This
            plataform is still under development.
        </p>

        <p class='text-lg text-gray-800 dark:text-gray-200 mt-4'>
            Whether you're a developer, data scientist, researcher, or AI enthusiast, CognitoAI
            offers a comprehensive collection of tools that cover various domains within artificial
            intelligence. Our team of experts evaluates and selects the most efficient and
            cutting-edge tools to help you stay ahead in the rapidly evolving AI landscape.
        </p>

        <div class='mt-8'>
            <h2 class='text-2xl font-bold mb-4 text-gray-800 dark:text-gray-200'>
                Search and Discover
            </h2>
            <p class='text-lg text-gray-600 dark:text-gray-300'>
                With our intuitive search feature, you can easily find the AI tools that match your
                specific requirements. Whether you need tools for natural language processing,
                computer vision, machine learning, or any other AI domain, CognitoAI has got you
                covered. Stay up-to-date with the latest advancements and discover new tools to
                expand your AI toolkit.
            </p>
        </div>

        <div class='mt-8'>
            <h2 class='text-2xl font-bold mb-4 text-gray-800 dark:text-gray-200'>Tools Overview</h2>
            <p class='text-lg text-gray-800 dark:text-gray-200'>
                Our curated list of AI tools provides comprehensive summaries and key features of
                each tool, giving you a quick overview of their capabilities. Save time and effort
                by exploring the tools' functionalities, pricing models, and user reviews, all in
                one place. Make informed decisions and choose the right AI tool for your specific
                needs.
            </p>
        </div>

        <div class='mt-8'>
            <h2 class='text-2xl font-bold mb-4 text-gray-800 dark:text-gray-200'>
                Want to add your project to the list?
            </h2>
            <p class='text-lg text-gray-800 dark:text-gray-200'>
                If you have an AI project that you'd like to see featured on our platform, we'd love
                to hear from you! Please reach out to us via Twitter by mentioning our account,
                <a href='https://twitter.com/lmoisz' class='text-blue-600 hover:underline'
                    >@lmoisz</a
                >. We're excited to showcase innovative projects and help you gain visibility in the
                AI community.
            </p>
        </div>
    </main>
</Layout>
