---
import Search from '../components/Search.astro'
import Tools from '../components/Tools.astro'
import Layout from '../layouts/Layout.astro'
// AI Tools list
---

<Layout title='CognitoAI - The best AI tools summary'>
  <main class='flex flex-col items-center justify-center m-auto max-w-4xl p-4'>
    <h1 class='text-4xl text-center dark:text-gray-50'>
      Welcome to
      <span
        class='block uppercase text-2xl font-bold text-transparent bg-gradient-to-r bg-clip-text from-purple-500 to-pink-500'
      >
        CognitoAI!
      </span>
    </h1>

    <p class='dark:text-gray-200 text-center mt-4 text-base font-normal'>
      Discover a compilation of the best AI tools! Get ready to explore the cutting-edge world of
      artificial intelligence.
    </p>
    <Search />
    <section>
      <Tools />
    </section>
  </main>
</Layout>
